:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --light-green: #009879;
  --dark-green: #004235;
}

.error {
  color: red;
}

button {
  padding: 14px 32px;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--light-green);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--dark-green);
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table thead th {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
table th,
table td {
  padding: 12px 15px;
}
tr:hover {
  background-color: #00987a8e;
}
