:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --binance-yellow: #f3ba2f;
  --kraken-blue: #5848d5;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
}
.page-container {
  margin-left: 215px;
  margin-top: 15px;
}
